/* Navigation */
.breadcrumb > li + li:before {
	content: "\00BB";
}

.breadcrumb {
  margin-bottom: 0;
  background-color: #f8f8f8;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.navbar {
  margin-bottom: 0;
  min-height: 20px;
}

.backbutton {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0;
  margin-right: 6px;
}

/* Page layouts */
div.main {
  padding-top: 6px;
}

h2 {
  margin-top: 0px;
}

/* Tables */
div.table-responsive {
  border: 0px;
}

th.rotate {
  height: 80px;
  width: 80px;
  white-space: nowrap;
}

th.rotate > div {
  width: 30px;
  transform: rotate(315deg);
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -o-transform:rotate(315deg);
}

th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

td.name-field {
  vertical-align: middle !important;
}

/* Buttons and other elements */
.btn {
  border-radius: 2px;
}

input.form-control {
  border-radius: 2px;
}

::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

.troopnames {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Checkbox switches */
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: green;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* Larger, touch friendly checkboxes and radio inputs */

/* Remove margin when in table */
td > div.checkbox {
  margin: 0;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #003c69;
    border-radius: .15em;
    width: 1.8em;
    height: 1.8em;
    float: left;
    margin-right: .1em;
    margin-top: .1em;
    background-color: white;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: 1em;
    line-height: 0;
    top: 50%;
    left: 20%;
    color: #003c69;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .2s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
