{% include "header.html" %}
<body>
{% include "navigation.html" %}
	<div class="main" id="page-admin">
		<div class="container-fluid">
			{% include "messagealert.html" %}
			<div class="row">
				<div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
					
					<h2>Administration</h2>					
					
					<a href="/admin/access/" class="btn btn-lg btn-block btn-default">
						<span class="pull-left">
							<span class="glyphicon glyphicon-lock"></span> 
							Behörighet
						</span>&nbsp;
					</a>

					<a href="/import/" class="btn btn-lg btn-block btn-default">
						<span class="pull-left">
							<span class="glyphicon glyphicon-import"></span> 
							Importera från Scoutnet
						</span>&nbsp;
					</a>

					<a href="/admin/setcurrentsemester" class="btn btn-lg btn-block btn-default">
						<span class="pull-left">
							<span class="glyphicon glyphicon-calendar"></span> 
							Byt till ny termin
						</span>&nbsp;
					</a>

					<a href="/admin/backup/" class="btn btn-lg btn-block btn-default">
						<span class="pull-left">
							<span class="glyphicon glyphicon-download-alt"></span> 
							Backup XML
						</span>&nbsp;
					</a>

				</div><!-- /content column -->

			</div><!-- /row -->
		</div>
	</div>
</body>
</html>
