{% extends "layout.html" %}
{% block main %}
<h2>Föreningsredovisning</h2>

<h3>Åldersfördelning</h3>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
		<tr>
		<th class="col-xs-1 col-sm-1 col-lg-1">Ålder</th>
		<th class="col-xs-1 col-sm-1 col-lg-1">Kvinnor</th>
		<th class="col-xs-1 col-sm-1 col-lg-1">Män</th>
		<th class="col-xs-1 col-sm-1 col-lg-1">Totalt</th>
		</tr>
	  </thead>
	  <tbody>
		{% for age in ages %}
		<tr><td>{{age.age}}</td><td>{{age.women}}</td><td>{{age.men}}</td><td>{{age.women+age.men}}</td></tr>
		{% endfor %}
	 </tbody>
	</table>
</div>

<h3>Styrelsemedlemmar</h3>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
		<tr>
		<th class="col-xs-1 col-sm-1 col-lg-1">Kvinnor</th>
		<th class="col-xs-1 col-sm-1 col-lg-1">Män</th>
		<th class="col-xs-1 col-sm-1 col-lg-1">Totalt</th>
		</tr>
	  </thead>
	  <tbody>
		{% for member in boardmebers %}
		<tr><td>{{member.women}}</td><td>{{member.men}}</td><td>{{member.women+member.men}}</td></tr>
		{% endfor %}
	 </tbody>
	</table>
</div>

<h3>Ledare</h3>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
		<tr>
		<th class="col-xs-1 col-sm-1 col-lg-1">Ålder</th>
		<th class="col-xs-1 col-sm-1 col-lg-1">Kvinnor</th>
		<th class="col-xs-1 col-sm-1 col-lg-1">Män</th>
		<th class="col-xs-1 col-sm-1 col-lg-1">Totalt</th>
		</tr>
	  </thead>
	  <tbody>
		{% for age in leaders %}
		<tr><td>{{age.age}}</td><td>{{age.women}}</td><td>{{age.men}}</td><td>{{age.women+age.men}}</td></tr>
		{% endfor %}
	 </tbody>
	</table>
</div>
{% endblock %}
