{% extends "layout.html" %}
{% block main %}
<h2>{{heading}}</h2>
<div class="well well-sm">
	Du kan lägga och ta bort till användare till din kår. Du kan bara ändra användare som inte har någon kår, eller som är med i din egen kår. Användare som du lägger till kan rapportera närvaro i din kår.
</div>

<div class="list-group col-xs-12 col-sm-8 col-md-6">
	{% for u in users %}
	<li class="list-group-item">
		<h4 class="list-group-item-heading">
			{{ u.getname() }}
		</h4>
		{% set sgroupname = '' %}
		{% set sgroupurlkey = '' %}
		{% if u.groupaccess != None %}
			{% set group = u.groupaccess.get() %}
			{% set sgroupurlkey = u.groupaccess.urlsafe() %}
			{% if group == None %}
				{% set sgroupname = sgroupurlkey %}
			{% else %}
				{% set sgroupname = group.getname() %}
			{% endif %}
		{% endif %}
		<span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{u.getemail()}}">{{u.getemail()}}</a>
		<div class="material-switch pull-right">
			<input type="checkbox" class="form-control groupaccess" id="check_{{ u.userid }}" 
				   data-add-url="./{{u.key.urlsafe()}}?setgroupaccess={{mygroupurl}}" 
				   data-remove-url="./{{u.key.urlsafe()}}?setgroupaccess=None" 
				   {% if sgroupname != '' %}checked="checked"{% endif %} />
			<label for="check_{{ u.userid }}" class="label-default"></label>
		</div>
	</li>
	{% endfor %}
</div>
{% endblock %}
