<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Skojjt{% if env == 'local' %} / Lokal miljö{% endif %}</title>
	<link rel="stylesheet" href="/css/theme{% if env == 'production' %}.min{% endif %}.css" />
	<link rel="stylesheet" href="/css/datatables.min.css" />
	<link href="/css/app.css" rel="stylesheet" />
	<script src="/js/jquery-1.12.2{% if env == 'production' %}.min{% endif %}.js"></script>
	<script src="/js/bootstrap{% if env == 'production' %}.min{% endif %}.js"></script>
	<script type="text/javascript" charset="utf-8" src="/js/datatables{% if env == 'production' %}.min{% endif %}.js"></script>
	<script src="/js/app.js"></script>
	<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#225566" />
</head>
