{% include "header.html" %}
<body>
{% include "navigation.html" %}
{% set hasPerson = True if ep is defined else False %}
	<div class="main">
		<div class="container">
			<form id="newperson" role="form" name="person" method="POST">
				<input type="hidden" name="action" value="newperson"/>
				<h2>
					{% if ep %}
						{{ ep.getname() }}
					{% else %}
						Registrera ny person
					{% endif %}
				</h2>
				
				{% if ep.troop == None %}
					<span class="label label-primary">Saknar avdelning</span>
				{% endif %}
				
				{% if ep.notInScoutnet %}
					<span class="label label-primary">Ej i Scoutnet</span>
				{% endif %}

				{% if ep.removed %}
					<span class="label label-danger">Borttagen</span>
				{% endif %}
				
				{% if ep %}
				<p>
					{% if ep.mobile != "" %}
						<span class="glyphicon glyphicon-phone"></span> <a href="tel:{{ep.mobile}}">{{ep.mobile}}</a>&nbsp; 
					{% endif %}
					{% if ep.phone != "" %}
						<span class="glyphicon glyphicon-earphone"></span> <a href="tel:{{ep.phone}}">{{ep.phone}}</a>&nbsp; 
					{% endif %}
					{% if ep.email != "" %}
						<span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{ep.email}}">{{ep.email}}</a> 
					{% endif %}
				</p>
				{% endif %}

				{% if (not hasPerson and not scoutgroup.canAddToWaitinglist()) or (hasPerson and ep.notInScoutnet) %}
			  	<div class="alert alert-warning" role="alert">
			  		OBS! Personen kommer inte registreras i <a class="alert-link" href="https://www.scoutnet.se/">Scoutnet</a> automatiskt!
			  	</div>
			  	{% endif %}

				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<label for="firstname">Förnamn</label>
						<input type="text" class="form-control" size='50' required="1" placeholder="Förnamn" name="firstname" id="firstname" value="{% if ep %}{{ep.firstname}}{% endif %}" {% if ep %}readonly="1"{% endif %}/>
					</div>
					<div class="form-group">
						<label for="lastname">Efternamn</label>
						<input type="text" class="form-control" size='50' required="1" placeholder="Efternamn" name="lastname" id="lastname" value="{% if ep %}{{ep.lastname}}{% endif %}" {% if ep %}readonly="1"{% endif %}/>
					</div>
					<div class="form-group">
						<label for="personnummer">Personnummer</label>
						<input type="text" class="form-control" pattern="[0-9]{12}" size="12" required="1" placeholder="YYYYMMDDXXXX" class="form-control" name="personnummer" id="personnummer" value="{% if ep %}{{ep.personnr}}{% endif %}" {% if ep %}readonly="1"{% endif %}/>
					</div>
					<div class="form-group">
						<label for='street'>Gatuadress</label>
						<input type='text' class="form-control" size='50' name='street' id='street' value='{% if ep %}{{ep.street}}{% endif %}' {% if ep %}readonly="1"{% endif %}/>
					</div>
					<div class="form-group">
						<label for='zip_code'>Postnummer</label>
						<input type='text' class="form-control" pattern='[0-9]{5}' size='5' name='zip_code' id='zip_code' placeholder="#####" value='{% if ep %}{{ep.zip_code}}{% endif %}' {% if ep %}readonly="1"{% endif %}/>
					</div>
					<div class="form-group">
						<label for='zip_name'>Postadress</label>
						<input type='text' class="form-control" size='50' name='zip_name' id='zip_name' value='{% if ep %}{{ep.zip_name}}{% endif %}' {% if ep %}readonly="1"{% endif %}/>
					</div>
					<div class="form-group">
						<label for='mobile'>Mobiltelefon</label>
						<input type='text' class="form-control" size='10' name='mobile' id='mobile' value='{% if ep %}{{ep.mobile}}{% endif %}' {% if ep %}readonly="1"{% endif %}/>
					</div>
					<div class="form-group">
						<label for='phone'>Telefon</label>
						<input type='text' class="form-control" size='10' name='phone' id='phone' value='{% if ep %}{{ep.phone}}{% endif %}' {% if ep %}readonly="1"{% endif %}/>
					</div>
					<div class="form-group">
						<label for='email'>E-post</label>
						<input type='email' class="form-control" size='50' name='email' id='email' value='{% if ep %}{{ep.email}}{% endif %}' {% if ep %}readonly="1"{% endif %}/>
					</div>
					{% if not ep %}
			  		<button id="personsubmit" type="submit" name="submit" class="btn btn-lg btn-primary">Spara</button>
					{% endif %}
				</div>
			</form>
	 		
	 		{% if hasPerson and ep.notInScoutnet %}
				<div class="col-xs-12">
					{% if (ep.notInScoutnet and scoutgroup.canAddToWaitinglist()) %}
						<a href="addtowaitinglist" class="btn btn-default"> Lägg till i Scoutnets kölista </a>
					{% endif %}

					{% if not ep.removed %}
						<a href="deleteperson" class="btn btn-danger" role="button">Ta bort</a>
					{% else %}
						<a href="addbackperson" class="btn btn-default" role="button">Lägg till igen</a>
					{% endif %}

					{% if (ep.notInScoutnet and scoutgroup.canAddToWaitinglist()) %}
					<div class="well well-sm top-buffer-sm">
						Om du lägger till personen  i Scoutnets väntelista kommer den att hamna under "Medlemmar som inte godkänts". Medlemsregistreraren måste godkänna medlemmen samt sätta avgift och avdelning.
					</div>
					{% endif %}
				</div>
			{% endif %}
			
			{% if hasPerson %}
		        <label for="trooplist">Avdelningar</label>
		        {% if trooppersons|length > 0 %}
		        <div class="list-group col-xs-12 col-sm-6 col-md-6" id="trooplist">
				    {% for tp in trooppersons %}
				    <li class="list-group-item">
						{% set troop = tp.troop.get() %}
						{% set group_key = troop.scoutgroup %}
						<h4 class="list-group-item-heading">
							<a href="/start/{{group_key.urlsafe()}}/{{troop.key.urlsafe()}}/">{{tp.getFullTroopname()}}</a>
							{% if tp.leader %} - Ledare{% endif %}
						</h4>

						<a href="removefromtroop?troop={{troop.key.urlsafe()}}" class="btn btn-sm btn-danger">Ta bort från avdelning</a>
						{% if tp.leader %}<a href="removeasleader?troop={{troop.key.urlsafe()}}" class="btn btn-sm btn-danger">Ta bort som ledare</a>{% else %}<a href="setasleader?troop={{troop.key.urlsafe()}}" class="btn btn-sm btn-default">Gör till ledare</a>{% endif %}
					</li>
				    {% endfor %}
				</div>
				{% endif %}

				<div class="col-xs-12 form-inline">
					<div class="form-group">
						<select id="addToTroopName" class="form-control">
							{% for troop in available_troops %}
								<option {% for tp in trooppersons %}{% if tp.troop.string_id() == troop[0] %}disabled{% endif %}{% endfor %}
									    value="{{ troop[2] }}">
									{{ troop[1] }}
								</option>
							{% endfor %}
						</select>
					</div>
					<button class="form-control addToTroop btn btn-primary">
						Lägg till i avdelning
					</button>
				</div>
			{% endif %}
		</div><!-- end container -->
	</div>
</body>
</html>
