{% include "header.html" %}
	<body>
		{% include "navigation.html" %}
		<div class="main" id="page-start">
			<div class="container-fluid">
				
				<div class="row">
					<div class="col-xs-1 col-sm-3 col-md-4"><!-- left margin --></div>
					<div class="col-xs-10 col-sm-6 col-md-4">
						<a href="{{starturl}}" class="btn btn-lg btn-block btn-primary">
							<span class="pull-left">
								<span class="glyphicon glyphicon-check"></span> 
								Närvaroregistrering
							</span>&nbsp;
						</a>

						<a href="{{personsurl}}" class="btn btn-lg btn-block btn-default">
							<span class="pull-left">
								<span class="glyphicon glyphicon-user"></span> 
								Personregister
							</span>&nbsp;
						</a>

						{% if user.canImport() %}
						<a href="/import/" class="btn btn-lg btn-block btn-default">
							<span class="pull-left">
								<span class="glyphicon glyphicon-import"></span> 
								Import
							</span>&nbsp;
						</a>
						{% endif %}

						{% if user.isGroupAdmin() %}
						<a href="/groupaccess/" class="btn btn-lg btn-block btn-default">
							<span class="pull-left">
								<span class="glyphicon glyphicon-lock"></span> 
								Kåraccess för användare
							</span>&nbsp;
						</a>
						{% endif %}

						{% if user.isAdmin() %}
						<a href="/admin/" class="btn btn-lg btn-block btn-default">
							<span class="pull-left">
								<span class="glyphicon glyphicon-wrench"></span> 
								Admin
							</span>&nbsp;
						</a>
						{% endif %}
						
						<a href="https://github.com/martin-green/skojjt/wiki" class="btn btn-lg btn-block btn-default">
							<span class="pull-left">
								<span class="glyphicon glyphicon-book"></span> 
								Dokumentation
							</span>&nbsp;
						</a>

						<br />
						<a href="{{ logouturl }}" class="btn btn-md btn-block btn-danger">
							<span class="pull-left">
								<span class="glyphicon glyphicon-off"></span> 
								Logga ut {{ user.getname() }}
							</span>&nbsp;
						</a>

					</div><!-- /content column -->

					<div class="col-xs-1 col-sm-3 col-md-4"><!-- right margin --></div>

				</div><!-- /row -->
			</div>
		</div>
	</body>
</html>