{% extends "layout.html" %}
{% block main %}
<div class="table-responsive" id="page-troop">
	<table id="maintable" class="table table-striped display nowrap">
	  <thead>
		<tr>
			<th class="troopnames">
				{{semestername}}<br/>
				<span class="heading">{{heading}}</span>
			</th>
			
			{% for meeting in meetings %}
			<th class="rotate">
				<div>
					<span>
						<a href="./{{meeting.key.urlsafe()}}/">{{meeting.name}}</a><br/>
						<span title="{{meeting.getdate()}} {{meeting.gettime()}}">
							{{meeting.getdate()}}
						</span>
					</span>
				</div>
			</th>
			{% endfor %}

		</tr>
	  </thead>
	  <tbody>
		
		{% for person in persons %}{% set iperson = loop.index0 %}{% set isleader = trooppersons[iperson].leader %}
		<tr>
			<td class="name-field troopnames" 
				id="name{{person.key.urlsafe()}}" 
				data-leader="{% if isleader %}1{% else %}0{% endif %}" 
				title="{{person.firstname}} {{person.lastname}}{% if isleader %} (Ledare){% endif %}">
				<a href="{{baselink+person.key.urlsafe()}}/">
					{#{loop.index}#}{{ person.getname() }}
					{% if isleader %}
					<span class="glyphicon glyphicon-star"></span>
					{% endif %}
				</a>
			</td>
			{% for meeting in meetings %} {# name is meeting, id is the person #}{% set imeeting = loop.index0 %}
			<td>
				<div class="checkbox">
					<label>
						<input title="{{meeting.getdate()}}: {{person.getname()}}" 
							   class="attendance-cb checkbox big-checkbox" 
							   name="cb{{meeting.key.urlsafe()}}" 
							   id="{{person.key.urlsafe()}}" 
							   type="checkbox" 
							   {%if attendances[imeeting][iperson]%}checked=""{% endif %}/>
						<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
					</label>
				</div>
			</td>
			{% endfor %}
		</tr>
		{% endfor %}

		{% if meetings %}
		<tr>
			<td class="troopnames"><span class="saveinfo">&nbsp;</span></td>
		{% endif %}
		
			{% for meeting in meetings %}
			<td>
				<button type="button" 
						class="postattendance btn btn-lg" 
						aria-label="Left Align" 
						id="btn{{meeting.key.urlsafe()}}" >
					<span id="span{{meeting.key.urlsafe()}}" aria-hidden="true"></span>
				</button>
			</td>
			{% endfor %}
		
		{% if meetings %}
		</tr>
		{% endif %}
	  </tbody>
	</table>
</div><!-- /table container -->

<button data-toggle="modal" data-target="#modal-meetingform" set-focus="#mname" class="btn btn-primary">
	<span class="glyphicon glyphicon-calendar"></span>
	Nytt möte
</button>
{% include "meetingform.html" %}

<button data-toggle="modal" data-target="#modal-usersearch" set-focus="#namesearch" class="btn btn-default">
	<span class="glyphicon glyphicon-user"></span>
	Lägg till person
</button>
{% include "usersearch.html" %}

<button data-toggle="modal" data-target="#modal-bidrag" class="btn btn-default">
	<span class="glyphicon glyphicon-piggy-bank"></span>
	Bidrag
</button>
{% include "bidrag.html" %}

{% if user.isGroupAdmin() %}
<button data-toggle="modal" data-target="#modal-settings" class="btn btn-default">
	<span class="glyphicon glyphicon-cog"></span>
	Inställningar
</button>
{% include "troopsettings.html" %}

<button data-toggle="collapse" data-target="#report" set-focus="#daklink" class="btn btn-lg btn-info togglebutton">Närvarorapport</button>
<div id="report" class="collapse well">
	<a id="daklink" href="./dak">Rapportfil för Göteborgs Kommun</a>
</div>
{% endif %}

{% endblock %}