{% include "header.html" %}
<body>
{% include "navigation.html" %}
	<div class="main">
		<div class="container-fluid">
			<h2>{{userprefs.getname()}}</h2>
			<form id="newperson" role="form" name="person" method="POST" class="col-xs-12 col-sm-8 col-md-6">
				<ul class="list-group">
					<li class="list-group-item">
						Behörighet
						<div class="material-switch pull-right">
							<input type="checkbox" class="form-control" name="hasAccess" id="hasAccess"
							{% if userprefs.hasaccess %}checked=""{% endif %}/>
							<label for="hasAccess" class="label-default"></label>
						</div>
					</li>
					
					<li class="list-group-item">
						Importrättigheter
						<div class="material-switch pull-right">
							<input type="checkbox" class="form-control" name="canImport" id="canImport"
							{% if userprefs.canimport %}checked=""{% endif %}/>
							<label for="canImport" class="label-default"></label>
						</div>
					</li>
					
					<li class="list-group-item">
						Administratör
						<div class="material-switch pull-right">
							<input type="checkbox" class="form-control" name="hasAdminAccess" id="hasAdminAccess"
							{% if userprefs.hasadminaccess %}checked=""{% endif %}/>
							<label for="hasAdminAccess" class="label-default"></label>
						</div>
					</li>
					
					<li class="list-group-item">
						Kåradministratör
						<div class="material-switch pull-right">
							<input type="checkbox" class="form-control" name="groupadmin" id="groupadmin"
							{% if userprefs.groupadmin %}checked=""{% endif %}/>
							<label for="groupadmin" class="label-default"></label>
						</div>
					</li>
				</ul>
					
				<div class="form-group">
					<label for="groupaccess">Kår:</label>
					{% set sgroupname = '' %}
					{% set sgroupurlkey = '' %}
					{% set u = userprefs %}
					{% if u.groupaccess != None %}
						{% set group = u.groupaccess.get() %}
						{% set sgroupurlkey = u.groupaccess.urlsafe() %}
						{% if group == None %}
							{% set sgroupname = sgroupurlkey %}
						{% else %}
							{% set sgroupname = group.getname() %}
						{% endif %}
					{% endif %}
					<select class="form-control form-control-lg" name="groupaccess" id="groupaccess">
						<option value=""></option>
						{% for scoutgroup in scoutgroups %}
						<option value="{{scoutgroup.key.urlsafe()}}" {% if sgroupurlkey==scoutgroup.key.urlsafe() %}selected=""{% endif %}>{{scoutgroup.getname()}}</option>
						{% endfor %}
					</select>
				</div>

				<div class="btn-toolbar">
					<button type="submit" name="submit" class="btn btn-lg btn-primary">Spara</button>
				</div>

			</form>
		</div>
	</div>
</body>
</html>